/* App.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* center horizontally */
  justify-content: center; /* center vertically */
  background-color: #000061;
  font-family: Arial, sans-serif;
  text-align: center;
}
.controls {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.record {
  margin-bottom: 1rem;
  font-weight: bold;
}
